<!DOCTYPE html>
<html>
<head>
<title>Event Registration</title>
</head>
<body>
<h2>Event Registration Form</h2>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endwith %}
<form method="POST">
Participant Name: <input type="text" name="name"><br><br>
Mobile Number: <input type="text" name="mobile"><br><br>
Event Name:
<select name="event_name">
<option value="Coding Contest">Coding Contest</option>
<option value="Tech Quiz">Tech Quiz</option>
<option value="Poster Presentation">Poster Presentation</option>
</select><br><br>
<input type="submit" value="Register">
</form>
</body>
</html>
